<!doctype html>
<html>
    <head>
        <title>Bitly Clone</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    </head>
    <body>
        <div class="container">
            <div class="jumbotron text-center">
                <h1><span class="fa fa-lock"></span>Bitly Clone</h1>

                <p>Login or Register with : </p>

                <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
                <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

                <div class="url">
                    <form action="/" method="POST">
                        <label>URL</label>
                        <input type="text" class="form-control" name="url">
                        <button type="submit" class="btn btn-warning btn-lg">Shorten It!</button>
                    </form>
                </div>
                <div class="hasil">
                    <%if (url && short) { %>
                        url = <%= url %>
                        short = http://127.0.0.1:8080/<%= short %>
                    <% } %>
                </div>
            </div>
        </div>
    </body>
</html>