<!doctype html>
<html>
<head>
    <title>Bitly Clone</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

            </div>
        </div>

    </div>
    <div class="url">
        <form action="/profile" method="POST">
            <label>URL</label>
            <input type="text" class="form-control" name="url">
            <input id="UserId" name="UserId" type="hidden" value=<%= user._id %>>
            <button type="submit" class="btn btn-warning btn-lg">Shorten It!</button>
        </form>
    </div>
    <a href="/url-list" class="btn btn-default"><span class="fa fa-user"></span>url-list</a>

</div>
</body>
</html>