<!doctype html>
<html>
    <head>
        <title>Bitly Clone - Signup</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->    
    </head>
    <body>
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">
                <h1><span class="fa fa-sign-in"></span> Signup</h1>

                <!-- LOGIN FORM -->
                <form action='/signup' method='POST'>
                    <div class='form-group'>
                        <label>Email</label>
                        <input type="text" class="form-control" name='email'>
                    </div>
                    <div class='form-group'>
                        <label>Password</label>
                        <input type="password" class="form-control" name="password">
                    </div>

                    <button type="submit" class="btn btn-warning btn-lg">Signup</button>
                </form>
                <hr>
                <p>Already have an account? <a href="/login">Login</a></p>
                <p><a href="/">Home</a></p>
            </div>
        </div>
    </body>
</html>