<!doctype html>
<html>
<head>
    <title>Bitly Clone</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span><%= doc.short %></h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <a href='/profile' class="btn btn-default btn-sm">back to profile</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> <%= doc.longUrl %></h3>
                    <p>     <strong># of clicked</strong>= <%= doc.counter.length %><br>
                            <%for (data of doc.counter) { %>
                                <strong>Date </strong><%= data.date %> - <strong>IP</strong>= <%= data.ip %><br>
                                <% } %>
                    </p>

            </div>
        </div>

    </div>


</div>
</body>
</html>