<!doctype html>
<html>
<head>
    <title>Bitly Clone</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span><%= user.local.email %></h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <a href='/profile' class="btn btn-default btn-sm">back to profile</a>
        <% if (status) { %>
            <div class="alert alert-danger">this value is taken, please type another short link</div>
        <% } %>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <%for (data of url) { %>
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> <%= data.longUrl %></h3>
                <form action="/url-list" method="post">
                    <p> 
                            <input id="id" name="id" type="hidden" value=<%= data._id %>>
                                <strong>short </strong>= http://127.0.0.1:8080/<input id="short" name="short" value=<%= data.short %>><br>
                                <strong># of clicked</strong>= <%= data.counter.length %><br>
                                <strong># of clicked this month</strong>= <%= obj[data._id] %><br>
                                <strong># of clicked today</strong>= <%= objday[data._id] %><br>
                                <button type="submit" class="btn btn-warning btn-lg">Change link</button>
                                <a href='/url-list/<%= data._id %>' class="btn btn-default"><span class="fa fa-user"></span>statistic</a>
                    </p>
                </form>
            </div>
        </div>
        <% } %>
    </div>


</div>
</body>
</html>